.calendar{
    width: 35%;
    padding-top: 1.5em;
    background-color: var(--text);
    border-radius: 20px;
    height: 70vh;
    overflow: hidden;
}
.calendar-title{
  color: var(--sidebar);
  text-align: center;
}
.calendar-h2{
    text-align: center;
    text-transform: uppercase;
}.MuiPickersMonth-root {
  text-transform: uppercase;
}
