*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  overflow: hidden;
}
.main-contain{
  background-color: #a8f4f34a;
  width: 100%;
  height: 100vh;
}

:root{
  --text:#fff;
  --sidebar:#52b7ac;
  --soft:#ececec;
  --gray:#939292;
  --navbar:#45a59a;
}
.flex{
  display: flex;
 margin: 5vh auto;
 background-color: var(--sidebar);
 box-shadow: 0 0 20px #3b77764a;
 width: 92%;
 height: 90vh;
 border: 4px solid #fff;
 border-radius: 30px;

}

.outlet{
  width: 90%;
  background-color: var(--soft);
  }

  